@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

/*GENERAL*/

body{
    font-family: 'Courgette', cursive;
    box-sizing: border-box;
    background-color: #7dad71;
    height: 100vh;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    background-color: rgb(187, 187, 187);
    color: black;
    box-shadow: 0 0 10px #4d4f4f;
}
h1{
    text-align: center;
    font-size: 60px;
    margin: 0;
}
h2{
    text-align: center;
}
a{
    text-decoration: none;
    list-style-type: none;
}

/*INDEX*/

.contain-button{
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.index-button{
    display: block;
    background-color: rgb(187, 187, 187);
    width: 17em;
    height: 150px;
    margin-top: 30px;
    border: transparent;
    border-radius: 20px;
    font-size: 30px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.index-button:hover{
    transform: scale(1.05);
}
.index-button:active{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transform: scale(1);
}
#play{
    font-size: 50px;
}

/*LOGIN*/


.main{
    display: flex;
    height: 75%;
    justify-content: center;
    align-items: center;
}
.block-log{
    width: 30%;
    height: 80%;
    margin: 3%;
    background-color: rgb(187, 187, 187);
    border-radius: 15px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    transform: scale(1);
}

.block-log form{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60%;
    height: 80%;
    margin: auto;
}
.log-input{
    margin-top: 20px;
    border-radius: 7px;
    border: hidden;
}
.log-submit{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 30px;
}
.log-submit-btn{
    width: 200px;
}
.log-responsive{
    display: none;
}

/*NAV PENDU*/

.nav-link{
    display: inline-block;
}
.nav-link a{
    color: black;
    margin: 10px;
    padding: 8px 10px;
}
.nav-link a:hover{
    animation: border;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

/*JEU*/

.feed{
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.main-play{
    display: flex;
    justify-content: center;
    margin: 0 20px;
}
.hello{
    margin-bottom: 50px;
    padding-left: 20px;
}
.contain-game-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.game-text{
    text-align: center;
}
.game-form{
    text-align: center;
}
.game-form label{
    font-size: 25px;
}
#id_letter_try{
    width: 30%;
}
.pendu-picture{
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

@media screen and (max-width: 767.9px){
    .index-button{
        width: 10em;
    }
    .main{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .block-log{
        position: absolute;
        width: 70%;
        height: 40%;
        transform: scale(0);
    }
    .block-log h2{
        margin-bottom: 0;
    }
    .log-responsive{
        display: flex;
        justify-content: center;
    }
    .log-responsive button{
        margin: 10px;
        padding: 10px;
        border: transparent;
        border-radius: 10px;
        background-color: rgb(187, 187, 187);
        font-size: 20px;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    }
}

@keyframes border{
    0%{
        border-bottom: solid 2px black;
    }
    25%{
        border-bottom: solid 2px black;
        border-left: solid 2px black ;
    }
    50%{
        border-bottom: solid 2px black;
        border-left: solid 2px black ;
        border-top: solid 2px black ;
    }
    100%{
        border: solid 2px black;
    }
}