@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

/*GENERAL*/

body{
    font-family: 'Courgette', cursive;
    box-sizing: border-box;
    background-color: #7dad71;
    height: 100vh;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    background-color: rgb(187, 187, 187);
    color: black;
    box-shadow: 0 0 10px #4d4f4f;
}
h1{
    text-align: center;
    font-size: 60px;
    margin: 0;
    margin-bottom: 20px;
}
h2{
    text-align: center;
}
a{
    text-decoration: none;
    list-style-type: none;
}

/*INDEX*/

.contain-button{
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.index-button{
    display: block;
    background-color: rgb(187, 187, 187);
    width: 17em;
    height: 150px;
    margin-top: 30px;
    border: transparent;
    border-radius: 20px;
    font-size: 30px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.index-button:hover{
    transform: scale(1.05);
}
.index-button:active{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transform: scale(1);
}
#play{
    font-size: 50px;
}

/*LOGIN*/


.main{
    display: flex;
    height: 75%;
    justify-content: center;
    align-items: center;
}
.block-log{
    min-width: 30%;
    height: 70%;
    margin: 3%;
    background-color: rgb(187, 187, 187);
    border-radius: 15px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    transform: scale(1);
}

.block-log form{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60%;
    margin: auto;
}
.log-input{
    margin-top: 20px;
    border-radius: 15px;
    border: hidden;
    line-height: 35px;
}
.log-submit{
    display: flex;
    justify-content: center;
    top: 200px;
}
.log-submit-btn{
    width: 200px;
}
.account{
    display: none;
}

/*NAV PENDU*/

.nav-link{
    display: inline-block;
}
.header-play nav ul{
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.nav-link a{
    color: black;
    padding: 8px 15px;
    margin: 5px;
}
.nav-link a:hover{
    text-decoration: underline;
    font-weight: bold;
}


/*JEU*/

.feed{
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.main-play{
    display: flex;
    justify-content: center;
}
.hello{
    font-size: 1.5em;
    text-align: center;
    font-family: 'Courgette', cursive;
}
.contain-game-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.48) 6px 2px 16px 0px, rgba(0, 0, 0, 0.48) -6px -2px 16px 0px;
}
.game-text{
    text-align: center;
}
.game-form{
    text-align: center;
}
.game-form label{
    font-size: 1.2em;
}
#id_letter_try{
    width: 15%;
    border-radius: 5px;
    border-style: hidden;
}
#submit-btn{
    border-radius: 5px;
    border-style: hidden;
}
.pendu-picture{
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.48) 6px 2px 16px 0px, rgba(0, 0, 0, 0.48) -6px -2px 16px 0px;
}
.ranking-feed{
    width: 60%;
    border: solid 1px rgb(187, 187, 187);
    border-radius: 20px;
    background-color: rgb(187, 187, 187);
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}
.ranking{
    text-align: center;
    font-size: 1.2em;
}
.ranking-user{
    text-align: center;
}
.profile-feed , .badges{
    width: 60%;
    border: solid 1px rgb(187, 187, 187);
    border-radius: 20px;
    background-color: rgb(187, 187, 187);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.fa-award{
    margin-top: 15px;
    font-size: 1.4em;
    color: gold;
}

@media screen and (max-width: 767.9px){
    header{
        height: 10%;
    }
    h1{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .index-button{
        width: 10em;
    }
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .block-log{
        min-width: 70%;
        min-height: 55%;
        text-align: center;
    }
    .block-log h2{
        margin-bottom: 0;
    }
    .log-submit{
        top: 170px;
    }
    .account{
        display: block;
        margin-top: 15px;
    }
    #block-log-right{
        display: none;
    }
    #account-connect{
        margin-top: 50px;
        color: #69925f;
    }
    #account-create{
        margin-top: 30px;
        color: #69925f;
    }
    .nav-link a{
        padding: 10px;
        margin: 0;
    }
    .feed{
        margin-top: 20px;
    }
    .hello{
        margin: 0;
    }
    .main-play{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contain-game-text {
        width: 300px;
        height: 200px;
    }
    .pendu-picture{
        width: 200px;
        height: 200px;
    }
    #id_letter_try::placeholder{
        font-size: 0em;
    }
    .ranking-feed{
        width: auto;
        border: solid 1px rgb(187, 187, 187);
        border-radius: 20px;
        background-color: rgb(187, 187, 187);
        margin-top: 50%;
        margin-left: 20px;
        margin-right: 20px;
    }   
    .profile-feed , .badges{
        width: auto;
        border: solid 1px rgb(187, 187, 187);
        border-radius: 20px;
        background-color: rgb(187, 187, 187);
        margin-top: 15%;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }

}
