{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/index.css">
  <link rel="stylesheet" href="/static/normalize.css">
</head>
<header>
  <nav class=navbar>
    <div class="site_title">
      <h3>Le Pendu</h3>
    </div>
    <div>
      <ul class="navet">
        <li>
          <a href="/pendu">Pendu</a>
        </li>
        {% if request.user.is_authenticated %}
        <li>
          <a href="/ranking">Classement</a>
        </li>
        <li>
          <a href="/profile">Profil</a>
        </li>
        <li>
          <a href="/logout_user">Se déconnecter</a>
        </li>
        {% endif %}
        {% if not request.user.is_authenticated %}
        <li>
          <a href="/ranking">Classement</a>
        </li>
        <li>
          <a href="/login">Se connecter/S'inscrire</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>

<body>
  {% block content %}{% endblock %}

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="/static/script.js"></script>

</body>

</html>