<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/index.css">   
</head>

<body>  
    <header>
        <h1>Le Pendu</h1>
    </header>
    <div class="contain-button">
        <a href="pendu"><button class="index-button" type= "button"><span id="play">Jouer</span></button></a>
        <a href="login"><button class="index-button" type= "button">Se connecter<br>S'inscrire</button></a>
    </div>
</body>

</html>





















