<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<header>
    <h3>Le Pendu</h3>
</header>
<body>
    <div>
        <a href="pendu"><button type= "button">Jouer</button></a>
        <a href="login"><button type= "button">Se connecter/S'inscrire</button></a>
    </div>
</body>

</html>





















