<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/normalize.css">
</head>

<body>
    <div class="loading">
        <div class="base"></div>
        <div class="base-top"></div>
        <div class="tete"></div>
        <div class="corps"></div>
        <div class="bras"></div>
        <div class="jambe"></div>
    </div>    
    <header>
        <h3>Le Pendu</h3>
    </header>
    <div class="contain-button">
        <a href="pendu"><button class="index-button" type= "button">Jouer</button></a>
        <a href="login"><button class="index-button" type= "button">Se connecter<br>S'inscrire</button></a>
    </div>
</body>

</html>





















