<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/index.css">  
</head>
<header>
    <h1>Le Pendu</h1>
</header>

<body>
    <div class="main">
        <div class="block-log">
            <h2>Se connecter</h2>
            <form action="/log_user" method="POST">
                {% csrf_token %}
                <input class="log-input" type="text" name="username" placeholder="Nom d'utilisateur">
                <input class="log-input" type="password" name="password" placeholder="Mot de passe">
                <input class="log-input log-submit-left" type="submit" value="Se connecter">
            </form>

        </div>
        <div class="block-log">
            <h2>S'inscrire</h2>
            <form action="/create_user" method="POST">
                {% csrf_token %}
                <input class="log-input" type="text" name="register_name" placeholder="Nom d'utilisateur">
                <input class="log-input" type="password" name="pass1" placeholder="Mot de passe">
                <input class="log-input" type="password" name="pass2" placeholder="Confirmez le mot de passe">
                <input class="log-input log-submit-right" type="submit" value="S'inscrire">
            </form>
        </div>
    </div>
</body>
</html>