{% extends "base_template.html" %}
{% block title %}Le Pendu{% endblock %}
{% block content %}
<div class="feed">
    <p>Salut {{ request.user }}</p>
    <p>Le mot à trouver est {{ hidden_word }}</p>
    <p>Nombre de tentatives: {{ tries }}</p>
    <p>{{ result }}</p>

    <form action="pendu" method="POST">
        {% csrf_token %}
        <input type="text" name="letter_try" placeholder="Quelle lettre souhaitez vous essayer? ">
        <input type="submit" value="Valider">
    </form>
    {% if restart %}
        <a href="pendu"><button type="submit">Recommencer</button></a>
    {% endif %}

</div>
{% endblock %}