{% extends "base_template.html" %}
{% block title %}Le Pendu{% endblock %}
{% block content %}
<div class="feed">
    {% if request.user.is_authenticated %}
    <p>Salut {{ request.user }}</p>
    <p>Parties jouées: {{ request.user.played_games }}</p>
    <p>Parties gagnées: {{ request.user.won_games }}</p>
    <p>Série de parties gagnées: {{ request.user.streak }}</p>
    <p>Taux de victoires: {{ request.user.win_rate }}%</p>
    {% endif %}
    <p>Le mot à trouver est {{ hidden_word }}</p>
    <p>Nombre de tentatives: {{ tries }}</p>
    <p>Lettres essayées: {{ tried_letters }}</p>
    <p>{{ result }}</p>
    {% if badge %}
    <p>Vous venez d'obtenir le badge {{ badge.title }}</p>
    {% endif %}
    {% if special_badge %}
    <p>Vous venez d'obtenir le badge spécial {{ special_badge.title }}</p>
    {% endif %}
    {% if not restart %}
    <form action="pendu" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Valider">
    </form>
    {% endif %}
    {% if restart %}
        <a href="pendu"><button type="submit">Recommencer</button></a>
    {% endif %}

</div>
{% endblock %}